@import "tailwindcss";

@theme{
    --animate-slide-left: slide-left 1s ease-in-out 1 forwards;

  @keyframes slide-left {
    0%{
        translate: 0%;
    }
    100% {
      translate: -100%;
    }
  }
}

@theme{
    --animate-slide-right: slide-right 1s ease-in-out 1 forwards;

  @keyframes slide-left {
    0%{
        translate: -100%;
    }
    100% {
      translate: 0;
    }
  }
}